footer
    .footer__contenedor.container
        .footer__contenedor--informacion
            a(href="#inicio" class="logotipo")
                img(src="public/img/logotipo.svg", alt="Logotipo")
            ul.informacion__lista
                li.informacion__lista--item: a(href="#contact") Contáctanos
                li.informacion__lista--item: a(href="#about") Nosotros
                li.informacion__lista--item: a(href="#characteristics") Caracterísiticas
                li.informacion__lista--item: a(href="#planes") Planes
        .footer__contenedor--informacion
            p.informacion__copy.description Copyright © Todos los Derechos Reservados
            p.informacion__desarrollo.description Desarrollado por:
                a(href="https://chilcanoweb.com/" target='_blank' rel='noopener noreferrer') Chilcanoweb
