header
    .header__contenedor.container
        h1.header__contenedor--logotipo
            a(href="index.html") Logo
        .header__contenedor--icono#icon
            - for (let i = 0; i <3; i++)
                .icon-element
        nav#nav
            ul.nav__lista
                li.nav__lista--item: a(href="#about" class="item__link") Nosotros
                li.nav__lista--item: a(href="#characteristics" class="item__link") Características
                li.nav__lista--item: a(href="#planes" class="item__link") Planes