// B A N N E R
//------------
//------------
.banner
{
  --gradient       : .2;
  --url            : url('../../public/img/banner/background-banner.jpg');
  background-color : var(--rgba);
  @include bg-cont;
  height       : 100vh;
  background-image : linear-gradient(
                  rgba($bg-dark, var(--gradient)),
                  rgba($bg-dark, var(--gradient))
  ),
  var(--url);
  &__container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .banner__header{
      text-align: center;
      h2{
        font-size: 3rem;
        color: var(--text-light);
        @include from ($m3){
          font-size: 4rem
        }
        @include from ($m4){
          font-size: 5rem
        }
      }
      form{
        --columns: 1;
        margin-top: 1rem;
        max-width: 500px;
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        @include from ($m3){
          --columns: 15;
          max-width: 800px;
          margin-top: 1.5rem
        }
        .form__input{
          position: relative;
          border-bottom: 1px solid lighten($bg-dark,70);
          @include from ($m3){
            border-bottom: initial;
            border-right:  1px solid lighten($bg-dark,70);
            &:nth-child(1){grid-column: 1 / 4}
            &:nth-child(2){grid-column: 4 / 7}
            &:nth-child(3){grid-column: 7 / 10}
          }
          
          span{
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            color: lighten($bg-dark,40);
            font-size: .9rem;
            @include from ($m3){
              left: 12px
            }
          }
        }
        input,select{
          padding: 1rem .8rem 1rem 2rem;
          width: 100%;
          background-color: $bg-light;
          @include from ($m3){
            border-bottom: 0;
            font-size: .75rem;
            padding: 1.3rem .8rem 1.3rem 2.2rem;
          }
          &::placeholder{
            color: $text-dark;
          }
        }
        input{
          height: 100%;
        }
        select{
          border-radius: 0;
          color: $text-dark;
          padding-left: .5rem;
          color: $text-dark;
          @include from ($m3){
            grid-column: 10 / 13 
          }
        }
        a{
          @include p-btn(var(--text-dark), $bg-first);
          margin-top: 0;
          box-shadow: none;
          @include from ($m3){
            grid-column: 13 / 16;
            display: flex;
            align-items: center;
            &:hover{
              background-color: darken($bg-first, 5)
            }
          }
        }
      }
    }
  }
}

// A B O U T 
//------------
//------------
.about{
  --padding: 3rem;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  @include from ($m3){
    --padding: 6rem;
  }
  &__container{
    --columns: 1;
    --gap: 20px;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
    @include from ($m3){
      --columns: 12;
      --gap: 30px
    }
    @include from($m4){
      --gap: 40px
    }
    .about__img{
      height: 200px;
      order: 1;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url('../../public/img/about/background-about.jpg');
      @include from ($m3){
        order: 0;
        grid-column: 1 / 7;
        height: 100vh;
        margin-top: -200px;
      }
    }
    .about__main{
      order: 0;
      @include from ($m3){
        grid-column: 7 / 13;
        order: 1
      }
      &--info{
        --margin: auto;
        text-align: center;
        color: var(--dark);
        max-width: 500px;
        margin-left: var(--margin);
        margin-right: var(--margin);
        @include from ($m2){
          max-width: 650px;
        }
        @include from ($m3){
          text-align: left;
          margin-top: 100px
        }
        @include from ($m4){
          margin-top: 140px
        }
        .about__main--franja{
          @include from ($m2){
            position: relative;
            padding-left: 70px;
            &:before{
              content: '';
              width: 50px;
              height: 3px;
              margin-top: 10px;
              margin-right: 10px;
              display: block;
              position: absolute;
              left: 0;
              background-color: $bg-first
            }
          }
          @include from ($m3){
            padding-left: 80px;
            &:before{
              width: 60px;
            }
          }
          @include from ($m4){
            padding-left: 90px;
              &:before{
              width: 70px;
            }
          }
          .about__main--button{
            display: flex;
            justify-content: center;
            @include from ($m3){
              justify-content: flex-start
            }
            a{
              @include p-btn(var(--text-dark), $bg-first)
            }
          }
        }
      }
    }
  }
}

// S E R V I C E S
//------------
//------------
.services{
  --padding: 3rem;
  @include bg-cont;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  background-blend-mode: multiply;
  background-image: 
    linear-gradient(
      #ffbe00, 
      #ffbe00), 
    url(../../public/img/services/background-services.jpg);
  @include from ($m3){
    --padding: 6rem;
  }
  &__header{
    text-align: center;
    color: var(--text-light)
  }
  &__container{
    --columns: 1;
    --gap: 40px;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-gap: var(--gap);
    @media screen and (min-width: 500px){
      --columns: 2;
      --gap: 50px
    }
    @include from ($m2){
      --columns: 4;
      --gap: 40px;
      margin-top: 4rem
    }
    .service-item{
      text-align: center;
      img{
        --margin: auto;
        width: 90px;
        margin-left: var(--margin);
        margin-right: var(--margin);
        @include from ($m3){
          width: 100px
        }
        @include from ($m4){
          width: 110px
        }
      }
      p{
        color: var(--text-light);
        margin-top: 1rem;
        font-size: 1rem;
        font-weight: 700;
        font-family: $fuente-principal;
        @include from ($m3){
          margin-top: 1.5rem
        }
      }
    }
  }
}

// P R I C E S
//------------
//------------

.prices{
   --padding: 3rem;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  @include from ($m3){
    --padding: 6rem;
  }
  &__container{
    --columns             : 1;
    --gap                 : 40px;
    display               : grid;
    grid-template-columns : repeat(var(--columns), 1fr);
    grid-gap              : var(--gap);
    max-width             : 350px;
    @include from ($m2){
      --columns : 2;
      max-width : 1250px;
    }
    @include from ($m3){
      --columns : 3;
    }
    @include from ($m4){
      --columns : 5;
      --gap     : 20px
    }
    .prices__header{
      color     : $text-dark;
      max-width : 450px;
      @include from ($m2){
        grid-column : 1 / 3;
      }
      @include from ($m3){
        max-width     : 550px;
        grid-column   : 1 / 4;
        margin-bottom : 1.5rem;
      }
      @include from ($m4){
        max-width   : 650px;
        grid-column : 1 / 6;
        margin-bottom: 2rem
      }
    }
    .prices__container--item{
      padding    : 1.5rem;
      box-shadow : 0 0 10px 1px rgba($bg-dark, .3);
      @include from ($m3){
        &:hover{
          background-color : $bg-first;
        .prices__title{
          color : $text-light
        }
        .prices__cost{
          color : $text-light;
        }
        .prices__button a{
          background-color : $bg-dark;
        }
        .submenu li{
          color : $text-light
        }
        .submenu .check{
            color : $text-light
          }
        }
      }
      .prices__title{
        font-size   : 1.8rem;
        font-weight : 900;
        color       : $text-dark;
        @include from ($m3){
          font-size : 2rem;
        }
      }
      .prices__cost{
        color       : $text-dark;
        font-weight : 300;
        margin-top  : .5rem;
        font-size   : 1rem;
        display     : flex;
        align-items : center;
        @include from ($m3){
          font-weight : 500;
        }
        span{
          margin-left : 5px;
          font-weight : 900;
          font-size   : 1.3rem;
        }
      }
      .prices__button{
        display : flex;
        a{
          @include p-btn($text-light, $bg-first);
          margin-bottom : 1rem;
          @include from ($m3){
            font-size : .9rem;
          }
        }
      }
      .accordion{
        width : 100%;
        li{
          &:last-child{
            li{
              border-bottom : 0;
            }
          }
          .link{
            padding-top    : 1rem;
            padding-bottom : 1rem;
            color          : $text-dark;
            font-size      : 1rem;
            font-weight    : 700;
            border-bottom  : 1px solid $bg-first;
            position       : relative;
            transition     : all 0.4s ease;
            @include from ($m3){
              display : none;
            }

            i{
              position   : absolute;
              top        : 16px;
              left       : 12px;
              font-size  : 18px;
              color      : $first-color;
              transition : all 0.4s ease;

              &.fa-chevron-down{
                right     : 12px;
                left      : auto;
                font-size : 16px
              }
            }
          }
        }

        .open{
          i.fa-chevron-down{
            transform : rotate(180deg)
          }
        }

        .default{
          @include from ($m3){
            .submenu{
              display : block
            }
          }
        }
      }
      /* Submenu */
      /*---------------*/
      .submenu{
        display     : none;
        font-size   : 14px;
        padding-top : 1rem;
        li{
          color         : $text-dark;
          margin-bottom : .7rem;
          font-size     : .9rem;
          border-bottom : 1px solid #4b4a5e;
          &.list-lose{
            text-decoration : line-through;
            color           : lighten($text-dark, 40);
            .check{
              color : red
            }
          }
          .check{
            color        : $first-color;
            margin-right : .5rem;
          }
        }
      }
    }
  }
}