extends ../config/template
append config
    - NombPagina = "Inicio"
prepend styles
block contenido

    // B A N N E R
    .banner#contact
        .banner__container.container
            .banner__header
                h2 Lorem es un texto
                form.wow.fadeInUp
                    .form__input
                        input(type='text', name='nombre', placeholder='Nombre y Apellido')
                        span.fas.fa-user
                    .form__input
                        input(type='email', name='correo', placeholder='Correo')
                        span.fas.fa-envelope
                    .form__input
                        input(type='text', name='celular', placeholder='Celular')
                        span.fas.fa-mobile-alt
                    select
                        option Elije tu plan
                        option 1
                        option 2
                    a(href='#')  Contáctanos 
    main
        // A B O U T
        .about#about
            .about__container.container
                .about__img.wow.fadeInUp
                .about__main
                    .about__main--info
                        h2.secondary-title Encuentra tu espacio y cierra tus proyectos.
                        .about__main--franja
                            p.description Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí".
                            .about__main--button
                                a(href='#characteristics').hover-btn Conócenos más
        // S E R V I C E S
        .services#characteristics
            .services__header.container
                h2.secondary-title Somos buenos en..
            .services__container.container
                +services-item(
                    'public/img/services/service-1.png',
                    'Ubicación Céntrica',
                    'Ubicación Céntrica'
                )
                +services-item(
                    'public/img/services/service-2.png',
                    'Múltiples Ambientes',
                    'Múltiples Ambientes'
                )
                +services-item(
                    'public/img/services/service-3.png',
                    'Excelentes Precios',
                    'Excelentes Precios'
                )
                +services-item(
                    'public/img/services/service-4.png',
                    'Horarios Flexibles',
                    'Horarios Flexbiles'
                )
        // P R I C E S
        .prices#planes
            .prices__container.container
                .prices__header
                    h2.secondary-title Contamos con los mejores planes.
                .prices__container--item.wow.fadeInUp
                    p.prices__title Plan 1
                    p.prices__cost desde
                        span $87
                    .prices__button
                        a(href="#contact") Adquirir ahora
                    ul#accordion.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Ipsum dolor met
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Consectetur dolor
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Dolor conectur is
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Amet is check
                
                .prices__container--item.wow.fadeInUp.delay-1
                    p.prices__title Plan 2
                    p.prices__cost desde
                        span $153
                    .prices__button
                        a(href="#contact") Adquirir ahora
                    ul#accordion1.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li
                                    i.check.fas.fa-check
                                    | Ipsum dolor met
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Consectetur dolor
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Dolor conectur is
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Amet is check

                .prices__container--item.wow.fadeInUp.delay-2
                    p.prices__title Plan 3
                    p.prices__cost desde
                        span $170
                    .prices__button
                        a(href="#contact") Adquirir ahora
                    ul#accordion2.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li
                                    i.check.fas.fa-check
                                    | Ipsum dolor met
                                li
                                    i.check.fas.fa-check
                                    | Consectetur dolor
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Dolor conectur is
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Amet is check

                .prices__container--item.wow.fadeInUp.delay-3
                    p.prices__title Plan 4
                    p.prices__cost desde
                        span $170
                    .prices__button
                        a(href="#contact") Adquirir ahora
                    ul#accordion3.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li
                                    i.check.fas.fa-check
                                    | Ipsum dolor met
                                li
                                    i.check.fas.fa-check
                                    | Consectetur dolor
                                li
                                    i.check.fas.fa-check
                                    | Dolor conectur is
                                li.list-lose
                                    i.check.fas.fa-times
                                    | Amet is check

                .prices__container--item.wow.fadeInUp.delay-4
                    p.prices__title Plan 5
                    p.prices__cost desde
                        span $170
                    .prices__button
                        a(href="#contact") Adquirir ahora
                    ul#accordion4.accordion
                        li.default.open
                            .link
                                | Características
                                i.fa.fa-chevron-down
                            ul.submenu
                                li
                                    i.check.fas.fa-check
                                    | Domicilio cercano
                                li
                                    i.check.fas.fa-check
                                    | Dolor sit amet
                                li
                                    i.check.fas.fa-check
                                    | Sit quale alter
                                li
                                    i.check.fas.fa-check
                                    | Met sit spn
                                li
                                    i.check.fas.fa-check
                                    | Ipsum dolor met
                                li
                                    i.check.fas.fa-check
                                    | Consectetur dolor
                                li
                                    i.check.fas.fa-check
                                    | Dolor conectur is
                                li
                                    i.check.fas.fa-check
                                    | Amet is check

prepend script-final
