footer{
    --paddingY       : 2rem;
    width            : 100%;
    padding-top      : var(--paddingY);
    padding-bottom   : var(--paddingY);
    background-color : $bg-dark;

    .footer__contenedor{
        &--informacion{
            width : 100%;
            @include from ($m2){
                display         : flex;
                align-items     : center;
                justify-content : space-between
            }

            .logotipo{
                width         : 180px;
                display       : block;
                margin-left   : auto;
                margin-right  : auto;
                margin-bottom : 1rem;
                @include from ($m2){
                    margin : unset;
                    @include from ($m3){
                        width : 200px
                    }
                }

                img{
                    width : 100%
                }
            }

            .informacion__lista{
                margin-top : 1.5rem;
                display    : none;
                @include from ($m2){
                    display : flex;
                    &--item{
                        a{
                            color        : $text-light;
                            padding-left : 1.5em;
                            font-size    : .9rem
                        }
                    }
                }
                @include from ($m3){
                    margin-top : 0
                }
            }

            &:last-child{
                padding-top : .9rem;
                margin-top  : .7rem;
                border-top  : 1px solid rgba(255, 255, 255, .2);
                color       : $text-light;
                text-align  : center;
                font-size   : .9rem;
                font-weight : 300;
                @include from ($m2){
                    margin-top : 1rem;
                    @include from ($m2){
                        padding-top : 1.1rem;
                    }
                }

                .informacion__desarrollo{
                    margin-top : .5rem;
                    @include from ($m2){
                        margin-top : 0
                    }

                    a{
                        color       : $text-light;
                        font-weight : 700;
                        margin-left: .3rem;
                    }
                }
            }
        }
    }
}