//---------------------
//---------------------
//--- SECONDARY TITLE

$secondary-font-title: (
    font-title--small: 1.8rem,
    font-title--medium: 2.2rem,
    font-title--standart: 2.5rem,
    font-title--big: 3rem,
    font-title--bigx: 3.5rem);

.secondary-title{
    font-size: map-get($secondary-font-title, font-title--small);
    line-height: 2.2rem;
        @include from ($m2){
            font-size: map-get($secondary-font-title, font-title--medium);
            line-height: 2.6rem;
            @include from ($m3){
                font-size: map-get($secondary-font-title, font-title--standart);
                line-height: 2.9rem;
                @include from ($m4){
                    font-size: map-get($secondary-font-title, font-title--big);
                    line-height: 3.4rem;
                    @include from ($m5){
                        font-size: map-get($secondary-font-title, font-title--bigx);
                        line-height: 3.9rem
                    }
                }
            }
        }  
}

//---------------------
//---------------------
//--- DESCRIPTIVE TEXT

$font-description:(
    font-description--small: .9rem,
    font-description--medium: 1rem);

.description{
    line-height : 1.5rem;
    font-weight : 300;
    margin-top  : .8rem;
    font-size   : map-get($font-description, font-description--small);
    @media screen and ($m3){
        font-size   : map-get($font-description, font-description--medium);
        line-height : 1.6rem
    }
}

//---------------------
//---------------------
//--- BUTTON HOVER

.hover-btn{
    display     : flex !important;
    align-items : center;
    &:before{
        content          : "";
        width            : 0;
        height           : 1px;
        display          : block;
        transition       : width .5s, margin-right .5s;
        background-color : $bg-light;
    }
    @include from ($m3){
        &:hover{
            &:before{
                margin-right : 1rem;
                width        : 40px
            }
        }
    }
}

//---------------------
//---------------------
//--- CONTAINER

.container
{
    width        : 90%;
    max-width    : 1250px;
    margin-left  : auto;
    margin-right : auto;
}