:root
{

  // C O L O R S

  --first-color     : #ffbe00;
  --secondary-color : #d66332;
  --thirty-color    : #58595b;

  // T E X T

  --text-dark       : #1f1e1e;
  --text-light      : #fff;

  // B A C K G R O U N D

  --bg-firt         : #ffbe00;
  --bg-secondary    : #d66332;
  --bg-thirty       : #58595b;
  --bg-dark         : #1f1e1e;
  --bg-light        : #fff;

  // P A D D I N G

  --paddingY        : 3rem;
  --paddingX        : 3rem;
}

// C O L O R S

$first-color     : #ffbe00;
$secondary-color : #d66332;
$thirty-color : #58595b;

// T E X T

$text-dark       : #1f1e1e;
$text-light    : #fff;

// B A C K G R O U N D

$bg-first: #ffbe00;
$bg-secondary: #d66332;
$bg-thirty: #58595b;
$bg-dark: #1f1e1e;
$bg-light: #fff;

// F O N T - F A M I L Y

$fuente-principal : 'Raleway', sans-serif;
$fuente-secundaria:'Roboto', sans-serif;